[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
seaborn = "*"
matplotlib = "*"
ipykernel = "*"
polars = "*"
scikit-learn = "*"
statsmodels = "*"

[dev-packages]

[requires]
python_version = "3.11"
